html {
  background-color: rgb(37, 32, 37);
  color: rgb(212, 212, 212);
}

input[type=text],
input[type=number],
input[type=tel] {
  padding: 0.5em 0.75em;
  border: 1px solid rgb(65, 60, 65);
  border-radius: 5px;
  color: rgb(235, 235, 235);
  background-color: rgb(59, 54, 59);
}
input:focus {
  outline: none;
}

a:visited {
  color: inherit;
}

.container {
  padding: 20px;
}

.btn {
  padding: 0 0.75em;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: rgb(21, 126, 251);
}
